select {
    background-color: #334E68;
    color: #F0F4F8;
    border-color: #334E68;
}

.form-floating label {
    color:#F0F4F8
}

.card-header {
    background-color: #102A43;
    color:#F0F4F8;
    border-color: #102A43
}

.card-body {
    background-color: #334E68;
    border-color: #334E68;
    color:#F0F4F8
}

.card {
    border-color: #334E68;
}

.container {
    height: 100vh;
}
